---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Short excerpt about me"
  pubDate={new Date("August 19 2024")}
  tags={[]} 
  >
  <h2>How to get in touch</h2>
  <p>I prefer not to have my personal info out and about, so feel free to drop me a twitter DM.</p>
  <h2>CV</h2> 
  <p>You can get my CV <a href="/cv.pdf" target="_blank"> here</a></p>
</Layout>
