---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hey, I'm Vlad</h1>
			<p>
				I am a backend engineer mainly working with
				python. Currently live in Berlin and speak
				Russian, English and pretty bad German.
			</p>

			<h2>Posts</h2>
			<ul class="space-y-4">
				{
					posts.map((post) => (
						<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
							<FormattedDate
								class="min-w-[120px] text-gray-600 dark:text-gray-400"
								date={
									post
										.data
										.pubDate
								}
							/>
							<div>
								<a
									href={`/blog/${post.slug}/`}
								>
									<h4 class="title">
										{
											post
												.data
												.title
										}
									</h4>
								</a>
							</div>
						</li>
					))
				}
			</ul>
			<h2>More about me</h2>
			<h2>Socials</h2>
		</main>

		<Footer />
	</body>
</html>
